body {
  margin: 0;
  text-align: center;
  font-family: Arial;
  background: linear-gradient(to bottom, #0f0f14, #ffb6d9);
  color: white;
}

h1 {
  margin-top: 20px;
}

.game {
  margin-top: 30px;
}

#character {
  width: 300px;
  transition: 0.3s;
}

.buttons {
  margin-top: 20px;
}

button {
  background: #ffb6d9;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #ff8ac1;
  transform: scale(1.1);
}
